<head>
<link rel="stylesheet" type="text/css" media="all" href="../../css/main.css" th:href="@{/css/main.css}" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
</style>
<title>Main</title>
</head>
<body>
   <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/main">MENU</a>
                </li>
                <li>
                    <a href="/main">Search</a>
                </li>
                <li>
                    <a href="/main/account">My account</a>
                </li>
                <li>
                    <a href="/main/interests">My interests</a>
                </li>
                <li>
                    <a href="/main/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    <h1 th:text="'Hello again, ' + ${username}"></h1>
                        <form method="post" action="/main/searchbyinterest" enctype="application/json">
                          <input type="text" name="interest" class="textbox" placeholder="Search by specific interest HERE!">
                          <input title="Search" value="SEARCH" type="submit" class="button">
                        </form>
                    </div>
                    <h1>Suggested users:</h1>
                    <table id="alter">
                    <th:block th:each="user : ${similarUsers}">
                    <tr>
                    <td th:text="'Username: ' + ${user.getUserName()}"></td>
                    <td th:text="'First name:' + ${user.getUserFirstName()}"></td>
                    <td th:text="'Last name: ' + ${user.getUserLastName()}"></td>
                    <td th:text="'Telephone: ' + ${user.getUserPhone()}"></td>
                    <td th:text="'Social network: ' + ${user.getUserSocialNetwork()}"></td>
                    </tr>
                    </th:block>
                    </table>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>